body{
    font-family: 'Consolas', 'monospace';
    color: rgb(212, 212, 212);
    background-color: rgb(30, 30, 30);
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr auto 1fr;

    flex-direction: column;
    overflow: hidden;
    animation: appear 1.5s;
}

.header{
    grid-column: 2 / 3;
    grid-row: 1;
    text-align: center;
}

.tool-container{
    grid-column: 2 / 3;
    text-align: center;
}

#guids-field{
    resize: none;
    overflow: hidden;

}


.links{
    grid-column: 2 / 3;
    grid-row: 3;
    padding-top: 10pt;
    font-size: 13pt;
}

a:link           { color: rgb(53, 138, 235)}
a:visited        { color: rgb(53, 138, 235) }
a:hover, a:focus { color: rgb(53, 138, 235) }
a:active         { color: rgb(53, 138, 235) } 

.gif-container{
    grid-column: 2 / 3;
    grid-row: 2;
    text-align: center;
}

.usefull-container{
	grid-column: 2 / 3;
    grid-row: 4;
    text-align: center;
}

img{
    width: 100%;
}



@keyframes appear {
    from {
        opacity: 0;
    }
  
    to {
        opacity: 1;

    }
}


